# Credit Scoring Models

**DRAFT**

In [1]:
import pandas as pd
import numpy as np
import vega_datasets

In [2]:
credit_df = vega_datasets.data.budget()

In [17]:
credit_df.describe()

,Source Category Code,Source subcategory,Agency code,Bureau code,Account code,Treasury Agency code
count,237.000000,237.000000,237.000000,237.000000,237.000000,237.000000
mean,935.565401,2.531646,171.725738,0.801688,504905.637131,46.902954
std,1.829879,4.209056,287.979631,4.601805,290030.721333,33.434655
min,931.000000,0.000000,1.000000,0.000000,10900.000000,3.000000
25%,934.000000,0.000000,11.000000,0.000000,249200.000000,20.000000
50%,937.000000,0.000000,15.000000,0.000000,537610.000000,21.000000
75%,937.000000,5.000000,202.000000,0.000000,801020.000000,75.000000
max,938.000000,15.000000,901.000000,40.000000,901710.000000,99.000000

In [3]:
credit_df

,Source Category Code,Source category name,Source subcategory,Source subcategory name,Agency code,Agency name,Bureau code,Bureau name,Account code,Account name,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,931,Individual Income Taxes,0,Individual Income Taxes,9,Department of Health and Human Services,0,Department of Health and Human Services,800415,"Supplemental Catastrophic Premium, Refunds, FSMI",...,0,0,0,0,0,0,0,0,0,0
1,931,Individual Income Taxes,0,Individual Income Taxes,9,Department of Health and Human Services,0,Department of Health and Human Services,818210,FHICCR supplemental catastrophic premium,...,0,0,0,0,0,0,0,0,0,0
2,931,Individual Income Taxes,0,Individual Income Taxes,15,Department of the Treasury,0,Department of the Treasury,551010,Private Collection Agent Program,...,0,0,0,0,0,0,0,0,0,0
3,931,Individual Income Taxes,0,Individual Income Taxes,901,Governmental Receipts,0,Governmental Receipts,11050,Individual Income Taxes,...,"1,091,433,000","1,132,169,000","1,316,370,000","1,394,538,000","1,478,026,000","1,645,578,000","1,770,297,000","1,886,834,000","1,999,750,000","2,118,356,000"
4,931,Individual Income Taxes,0,Individual Income Taxes,901,Governmental Receipts,0,Governmental Receipts,508110,Presidential Election Campaign Fund,...,"40,000","37,000","35,000","30,000","50,000","50,000","50,000","50,000","50,000","50,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,937,Misc. Governmental Receipts,0,Misc. Governmental Receipts,581,Bureau of Consumer Financial Protection,0,Bureau of Consumer Financial Protection,557810,"Penalties and Fines, Consumer Financial Protec...",...,0,"32,000","50,000","78,000","23,000",0,0,0,0,0
233,937,Misc. Governmental Receipts,0,Misc. Governmental Receipts,901,Governmental Receipts,0,Governmental Receipts,65000,"Deposit of earnings, Federal Reserve System",...,0,0,0,0,0,0,0,0,0,0
234,937,Misc. Governmental Receipts,0,Misc. Governmental Receipts,901,Governmental Receipts,0,Governmental Receipts,69001,Other Federal fund miscellaneous receipts,...,0,0,0,0,0,0,0,0,0,0
235,937,Misc. Governmental Receipts,0,Misc. Governmental Receipts,901,Governmental Receipts,0,Governmental Receipts,69002,Trust fund miscellaneous receipts,...,0,0,0,0,0,0,0,0,0,0
236,938,Legislative Proposals,0,Legislative Proposals,901,Governmental Receipts,0,Governmental Receipts,901710,Immigration reform,...,0,0,0,0,0,"2,000,000","12,000,000","28,000,000","39,000,000","45,000,000"

In [4]:
credit_df.sample(3).T

,64,72,22
Source Category Code,934,934,933
Source category name,Excise Taxes,Excise Taxes,Social Insurance Taxes and Contributions
Source subcategory,5,5,5
Source subcategory name,Federal Fund Excise Taxes,Federal Fund Excise Taxes,Employment Taxes and Contributions
Agency code,901,901,16
...,...,...,...
2016,"1,426,000","11,299,000",0
2017,"1,464,000","13,898,000",0
2018,"1,487,000","14,300,000",0
2019,"1,515,000","15,076,000",0
2020,"1,547,000","15,873,000",0

In [21]:
!ls Data/BankCreditScoring

bank.csv  scoring.jpg

In [25]:
cs_df = pd.read_csv("Data/BankCreditScoring/bank.csv")

In [26]:
cs_df

     age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
0     30;"unemployed";"married";"primary";"no";1787;...
1     33;"services";"married";"secondary";"no";4789;...
2     35;"management";"single";"tertiary";"no";1350;...
3     30;"management";"married";"tertiary";"no";1476...
4     59;"blue-collar";"married";"secondary";"no";0;...
...                                                 ...
4516  33;"services";"married";"secondary";"no";-333;...
4517  57;"self-employed";"married";"tertiary";"yes";...
4518  57;"technician";"married";"secondary";"no";295...
4519  28;"blue-collar";"married";"secondary";"no";11...
4520  44;"entrepreneur";"single";"tertiary";"no";113...

[4521 rows x 1 columns]

### LAB